//>>>>> Component Button Here <<<<<//
.theme-btn {
    position: relative;
    z-index: 2;
    overflow: hidden;
    vertical-align: middle;
    display: inline-block;
    border: none;
    text-transform: capitalize;
    text-align: center;
    background-color: $header-color;
    color: $white;
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
    padding: 20px 40px;
    min-width: 170px;
    border-radius: 44px;


    &:before {
        content: "";
        position: absolute;
        height: 100%;
        bottom: 0;
        left: 0;
        width: 0;
        background-color: $theme-color;
        z-index: -1;
        transition: all 0.4s ease-out;
        border-radius: inherit;
    }

    &:hover {
        color: $white;
        box-shadow: none;

        &::before {
            width: 100%;
        }
    }

    &.header-bg {
        background-color: $header-color;

        &::before {
            background-color: $theme-color;
        }
    }

    &.theme-bg-2 {
        background-color: $theme-color;
        color: $header-color;

        &:hover {
            color: $white;
        }
    }


    @include breakpoint (max-md){
        padding: 20px 32px;
    }

    @include breakpoint (max-sm){
        padding: 18px 30px;
        font-size: 14px;
    }
}

.theme-btn-2 {
    font-size: 16px;
    display: inline-block;
    font-weight: 600;
    color: $white;
    text-transform: capitalize;

    i {
        margin-left: 10px;
    }

    &:hover {
        color: $theme-color;
    }
}

.link-btn {
    font-size: 16px;
    font-weight: 500;
    color: $header-color;
    text-transform: capitalize;

    i {
        margin-left: 10px;
    }

    &:hover {
        color: $theme-color;
    }
}
//>>>>> Component Button End <<<<<//