.feature-card-items {
    text-align: center;

    .circle-border {
        border: 1px solid rgba(255, 255, 255, 0.20);
        padding: 3px;
        border-radius: 100px;
        width: 45px;
        height: 45px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 30px;

        .icon {
            width: 37px;
            height: 37px;
            line-height: 37px;
            text-align: center;
            background: #454242;
            border-radius: 100px;
            color: $white;
        }
    }

    .feature-content {

        h4 {
            color: $white;
            border-bottom: 1px solid rgba(255, 255, 255, 0.20);
            padding-bottom: 30px;
            margin-bottom: 30px;
        }

        p {
            color: $white;
        }
    }
}

.feature-step-items {
    margin-top: 30px;
    border: 1px solid $border-color;
    padding: 70px;
    text-align: center;
    @include transition;

    @include breakpoint (max-md){
        padding: 40px;
    }

    &.style-1 {
        .icon {
            background-color: $header-color;
        }

        .number {
            background-color: $header-color;
            color: $white;
        }
    }

    &.style-2 {
        margin-top: 0px;
        margin-top: -1px;
    }
    
    .icon {
        width: 100px;
        height: 100px;
        line-height: 100px;
        text-align: center;
        border-radius: 5px;
        background: #E7E7E7;
        text-align: center;
        margin: 0 auto;
        @include transition;
    }

    .feature-step-content {

        h3 {
            margin-top: 40px;

            @include breakpoint(max-xxl) {
                font-size: 30px;
            }

            @include breakpoint(max-xl) {
                font-size: 30px;
            }

            @include breakpoint(max-lg) {
                font-size: 25px;
            }

            @include breakpoint(max-md) {
                font-size: 20px;
            }
        }

        .number {
            width: 54px;
            height: 54px;
            line-height: 54px;
            border-radius: 100px;
            text-align: center;
            border: 1px solid $border-color;
            text-align: center;
            margin: 0 auto;
            margin-top: 40px;
            position: relative;
            @include transition;

            &::before {
                position: absolute;
                content: "";
                top: 26px;
                right: 51px;
                width: 160px;
                height: 2%;
                background: $border-color;
                display: inline-block;

                @include breakpoint(max-xxl) {
                    width: 120px;
                }

                @include breakpoint(max-lg) {
                    width: 90px;
                }

                @include breakpoint(max-md) {
                    width: 80px;
                }
            }
            
            &::after {
                position: absolute;
                content: "";
                top: 26px;
                left: 51px;
                width: 160px;
                height: 2%;
                background: $border-color;
                display: inline-block;

                @include breakpoint(max-xxl) {
                    width: 120px;
                }
                
                @include breakpoint(max-lg) {
                    width: 90px;
                }

                @include breakpoint(max-md) {
                    width: 80px;
                }
            }
        }

        p {
            margin-top: 40px;
        }
    }

    &:hover {

        .icon {
            background-color: $header-color;
            //filter: grayscale(100%) brightness(300%);

            svg path {
                fill: #fff;
            }
        }

        .number {
            background-color: $header-color;
            color: $white;
        }
    }
}

.feature-step-items-2 {
    margin-top: 30px;
    border: 1px solid $border-color;
    padding: 70px 60px;
    @include transition;
    background-color: $white;

    @include breakpoint (max-md){
        padding: 40px;
    }

    &.style-1 {
        .icon {
            background-color: $header-color;
        }

        .number {
            background-color: $header-color;
            color: $white;
        }
    }

    .icon {
        width: 100px;
        height: 100px;
        line-height: 100px;
        text-align: center;
        border-radius: 5px;
        background: #E7E7E7;
        text-align: center;
        @include transition;
    }

    .feature-step-content {

        h3 {
            margin-top: 40px;
        }

        .number {
            width: 54px;
            height: 54px;
            line-height: 54px;
            border-radius: 100px;
            text-align: center;
            border: 1px solid $border-color;
            text-align: center;
            margin-top: 40px;
            position: relative;
            @include transition;
            
            &::after {
                position: absolute;
                content: "";
                top: 26px;
                left: 51px;
                width: 250px;
                height: 2%;
                background: $border-color;
                display: inline-block;

                @include breakpoint(max-sm) {
                    width: 200px;
                }
            }
        }

        p {
            margin-top: 40px;
        }
    }

    &:hover {
        border: 1px solid $header-color;
        
        .icon {
            background-color: $header-color;
            //filter: grayscale(100%) brightness(300%);

            svg path {
                fill: #fff;
            }
        }

        .number {
            background-color: $header-color;
            color: $white;
        }
    }
}

.business-wrapper {
    position: relative;

    .business-image {
        position: absolute;
        position: absolute;
        top: -37%;
        left: 50px;

        @include breakpoint (max-xl4){
            display: none;
        }
    }

    .business-content {
        border-right: 1px solid $border-color;
        margin-left: 385px;

        @include breakpoint (max-xl4){
            margin-left: 0;
        }

        .list-area {
            @include flex;
            gap: 30px;
            margin-top: 20px;
            border-top: 1px solid $border-color;
            padding-top: 30px;

            @include breakpoint (max-xl){
                flex-wrap: wrap;
                gap: 20px;
            }

            .list-items {

                li {

                    &:not(:last-child) {
                        margin-bottom: 20px;
                    }

                    i {
                        margin-right: 5px;
                        color: $theme-color;
                    }
                }
            }
        }

        .theme-btn {
            display: inline-block;
            margin-top: 40px;
        }
    }

    .counter-items {

        .counter-text {

            h2 {
                font-size: 130px;
                font-weight: 500;
                margin-bottom: 30px;
            }

            h5 {
                color: $text-color;
                letter-spacing: 8.36px;
                text-transform: uppercase;
            }
        }
    }

    &.style-2 {
        margin-top: -74px;

        .container-fluid {
            padding: 0 100px;

            @include breakpoint (max-xxxl){
                padding: 0 50px;
            }

            @include breakpoint (max-xxl){
                padding: 0 40px;
            }

            @include breakpoint (max-xl){
                padding: 0 30px;
            }
        }

        .skills-content-items {
            max-width: 940px;
            border-right: 1px solid $border-color;
            padding-right: 40px;

            .circle-progress-bar-wrapper {
                @include flex;
                gap: 30px;
                margin-top: 50px;
                flex-wrap: wrap;
                margin-bottom: 30px;
                border-bottom: 1px solid $border-color;
                padding-bottom: 40px;
    
                @include breakpoint (max-xxl){
                    gap: 30px;
                }
    
                @include breakpoint (max-lg){
                    margin-top: 40px;
                    gap: 70px;
                }
    
                @include breakpoint (max-lg){
                    gap: 20px;
                }
    
                @include breakpoint (max-sm){
                    margin-top: 30px;
                    flex-wrap: wrap;
                    gap: 10px;
                }
               
                .single-circle-bar{
                    margin: 0 auto;
                    text-align: center;

                    span {
                        font-size: 16px;
                        line-height: 1;
                        font-weight: 700;
                    }
                    .content{
                        margin-top: 25px;

                        h6{
                            display: block;
                            margin-bottom: 0;
                            font-weight: 700;
                            font-size: 18px;
                            line-height: 135%;
                        }
    
                        br {
                            @include breakpoint (max-sm){
                                display: block;
                            }
                        }
                    }
                    .circle-bar {
                        position: relative;
                        height: 187px;
                        width: 187px;
                    }
                        
                    .circle-bar div {
                        position: absolute;
                        height: 187px;
                        width: 187px;
                        border-radius: 50%;
                    }
                        
                    .circle-bar div span {
                        position: absolute;
                        font-size: 40px;
                        line-height: 177px;
                        height: 177px;
                        width: 177px;
                        left: 5px;
                        top: 5px;
                        font-weight: 600;
                        text-align: center;
                        border-radius: 50%;
                        background-color: $white;
                        color: $header-color;
                        font-family: $heading-font;
                    }
                        
                    .circle-bar .background {
                        background-color: #EBEBEB !important;
                    }
                    
                    .circle-bar .rotate {
                        clip: rect(0 187px 100px 0);
                        background-color: $header-color !important;
                    }
                    
                    .circle-bar .left {
                        clip: rect(0 187px 100px 0);
                        opacity: 1;
                        background-color: #EBEBEB !important;
                    }
                    
                    .circle-bar .right {
                        clip: rect(0 190px 100px 0);
                        -webkit-transform: rotate(180deg);
                        transform: rotate(180deg);
                        opacity: 0;
                        background-color: $header-color !important;
                    }
                }
            }
        }
    }
}

.feature-business-section {
    position: relative;

    .star-shape {
        position: absolute;
        top: 0;
        right: 0;
    }

    .container-fluid {
        padding: 0 200px 0 30px;
    }
}

.choose-us-items {
    margin-top: 30px;
    text-align: right;

    @include breakpoint(max-xl) {
        text-align: center;
    }

    &.style-2 {
        text-align: left;

        @include breakpoint(max-xl) {
            text-align: center;
        }
    }

    &:not(:last-child) {
        margin-bottom: 80px;
    }

    .icon {
        margin-bottom: 30px;
    }

    .content {

        h4 {
            margin-bottom: 30px;
        }
    }

    .choose-us-image {
        
        img {
            @include imgw;
        }
    }
}

