.footer-widget-wrapper {
    padding: 50px 0px;

    .single-footer-widget {
        margin-top: 30px;

        .widget-head {
            margin-bottom: 30px;

            h4 {
                color: $white;
            }
        }

        .footer-content {
            p {
                color: $white;
            }
        }

        .social-icon {
            @include flex;
            gap: 25px;
            margin-top: 40px;
    
            li {
        
                a {
                    color: $text-color;
                }
            }
        }

        .company-info {
            margin-top: 30px;

            h4 {
                color: $white;
                margin-bottom: 15px;
            }

            .content {
                @include flex;
                gap: 5px;

                &:not(:last-child){
                    margin-bottom: 20px;
                }

                span {
                    color: $white;
                }

                h6 {
                    font-family: $body-font;
                    
                    color: $white;
                    a {
                        color: $white;
                    }
                }
            }
        }
        .list-items {

            li {
                @include transition;
                font-weight: 700;
                font-size: 16px;
                
                a {
                    color: #B4B4B4;
                }

                &:not(:last-child){
                    margin-bottom: 20px;
                }

                &:hover {
                    margin-left: 5px;

                    a {
                        color: $theme-color;
                    }
                }
            }
       }

       .footer-input-card {
        padding: 100px 100px 110px;
        background: rgba(255, 255, 255, 0.50);
        backdrop-filter: blur(20px);
        width: 638px;
        margin-left: -43px;
        margin-top: -70%;

        @include breakpoint (max-xl4){
            width: initial;
            margin-left: 0px;
            margin-top: 0;
            padding: 40px 40px 40px;
        }

        h3 {
            margin-bottom: 40px;
            color: $header-color;

            @include breakpoint (max-xl){
                font-size: 22px;
            }
        }

     .form-clt {
        input,textarea {
            width: 100%;
            outline: none;
            border: none;
            background-color: transparent;
            border-bottom: 1px solid $header-color;
            padding: 0px 0px 15px;
            

            &::placeholder {
                color: $header-color;
            }

        }

        textarea {
            padding-bottom: 35px 0 50px;
        }
    }

    .theme-btn {
        @include breakpoint (max-xl){
            font-size: 14px;
        }
    }
    
   }

   }
}

.footer-section {
    position: relative;
}

.footer-bottom {
    @include flex;
    justify-content: space-between;
    padding-bottom: 25px;

    @include breakpoint (max-md){
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
        text-align: center;
    }

    .social-icon {
        @include flex;
        gap: 25px;

        li {
    
            a {
                color: $text-color;
            }
        }
    }

    p {
        color: $white;
        margin-right: -11%;

        @include breakpoint (max-xl4){
            margin-right: initial;
        }
        span {
            text-decoration: underline;
        }
    }

    &.style-2 {
        padding-top: 0;

        p {
            text-align: center;
            margin: 0 auto;
        }
    }
}