
//page scroll bar add
::-webkit-scrollbar {
	width: 6px;
	height: 4px;
}
/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px $theme-color; 
	border-radius: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: $theme-color;
	border-radius: 10px;
}
//page scroll bar add

//Basic Code Start
.fix {
  overflow: hidden;
}

.ralt{
 position: relative;
}

//Basic Code End

//Video Css Start
.ripple {
  position: relative;

  &::before,&::after {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 60px;
      height: 60px;
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      border-radius: 50%;
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.50);
      -webkit-animation: rippleOne 3s infinite;
      animation: rippleOne 3s infinite;
  }

  &::before {
      -webkit-animation-delay: 0.9s;
      animation-delay: 0.9s;
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
  }

  &::after {
      -webkit-animation-delay: 0.6s;
      animation-delay: 0.6s;
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
  }
}
//Video Css End

//pagination default

//pagination default
.swiper-dot {
  .swiper-pagination-bullet {
      width: 40px;
      height: 8px;
      transition: 0.6s;
      background-color: #2A2A2A;
      opacity: 1;
      border-radius: 10px;
      position: relative;
  }
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
      background-color: $theme-color;
      transition: 0.6s;
      position: relative;
      width: 40px;
  }

}



br {
  @include breakpoint(max-md){
    display: none;
  }
}


/* background */
.bg-cover {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
}

.section-bg-2 {
  background: #F5F5F5;
}
//>>>>> Nice Select Css Start <<<<<//

.nice-select {
    background-color: transparent;
    border: transparent;
    float: initial;
    overflow: initial;
    height: initial;
    padding: 0;
    display: inline-flex;
    align-items: center;
    line-height: 150%;
    width: 100%;
    border: none;

    &:focus, &:hover {
      border-color: transparent;
    }

    &::after {
      height: 8px;
      width: 8px;
      right: -25px;
      top: 15px;
      border-color: $header-color;
      border-bottom: 2px solid $header-color;
      border-right: 2px solid $header-color;
    }

  .list {
    width: initial;
    background-color: $theme-color;
    box-shadow: none;
    overflow: initial;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    width: 100%;
    top: 100%;
    padding: 0;
    max-height: 50vh;
    overflow-x: auto;
    right: -50px;
    &::-webkit-scrollbar{
      width: 2px;
      opacity: 1;
      display: block;
    }
    &::-webkit-scrollbar-button,
    &::-webkit-scrollbar-thumb{
      background: $header-color;
    }
}
.option {
  background-color: transparent;
  font-size: 16px;
  line-height: 150%;
  padding: 4px 5px;
  min-height: initial;
  font-weight: 500;
  &:hover,
  &:focus,
  &.selected.focus {
    background-color: transparent;
  }
}
.current{
  font-weight: 500;
  color: $header-color;
}
}
//>>>>> Nice Select Css End <<<<<//
