.hero-1 {
    padding: 360px 0px 190px;
    position: relative;
    margin: 0 30px;

    @include breakpoint(max-xxl) {
        margin: 0px;
    }

    // @include breakpoint(max-md) {
    //     padding: 100px 0px 190px;
    // }

    &::before {
        @include before;
        background: linear-gradient(0deg, rgba(28, 26, 29, 0.40) 0%, rgba(28, 26, 29, 0.40) 100%),;
    }

    .hero-shape {
        position: absolute;
        top: 30%;
        left: -5%;

        @include breakpoint(max-xl) {
            display: none;
        }
    }

    .hero-shape-2 {
        position: absolute;
        right: 50px;
        top: 30px;

        @include breakpoint(max-xl) {
            display: none;
        }
    }

    .hero-content {
        position: relative;

        h1 {
            color: $white;
        }
    }
}

.hero-2 {
    padding: 100px 0px 150px;
    position: relative;
    
    &::before {
        @include before;
        background: linear-gradient(0deg, rgba(28, 26, 29, 0.40) 0%, rgba(28, 26, 29, 0.40) 100%),;
    }

    .hero-shape {
        position: absolute;
        bottom: 0;
        right: -10px;
        
        @include breakpoint(max-xl){
            display: none;
        }
    }

    .hero-content {
        position: relative;

        h1 {
            font-size: 100px;
            color: $white;
            margin-bottom: 40px;

            @include breakpoint(max-xxl){
                font-size: 80px;
            }

            @include breakpoint(max-xl){
                font-size: 70px;
            }

            @include breakpoint(max-lg){
                font-size: 65px;
            }

            @include breakpoint(max-md){
                font-size: 50px;
            }

            @include breakpoint(max-sm){
                font-size: 40px;
            }
        }

        span {
            &::before {
                position: absolute;
                content: "";
                width: 83%;
                height: 1px;
                background: rgba(75, 83, 93, 1);
            }
            
            &::after {
                position: absolute;
                content: "";
                width: 160px;
                height: 2px;
                background: $white;
            }
        }
        p {
            color: $white;
            margin-top: 40px;
            display: inline-block;
        }

        .arrow-image {
            margin-top: 45px;
        }
    }
}

.hero-3 {
    position: relative;

    .array-button {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 9;
        @include flex;
        gap: 10px;

        .array-prev,.array-next {
            width: 70px;
            height: 70px;   
            line-height: 70px;
            text-align: center;
            display: inline-block;
            @include transition;

            &:hover {
                background-color: $theme-color;
                color: $white;
            }
        }

        .array-prev {
            background-color: #F9F6F1;
        }

        .array-next {
            background-color: $header-color;
            color: $white;
        }
    }

    &::before {
        @include before;
        background-color: $header-color;
        height: 93%;
    }
    .hero-shape {
        position: absolute;
        top: 0;
        left: 38%;
        
        @include breakpoint(max-xl) {
            display: none;
        }
    }

    .hero-shape-2 {
        position: absolute;
        bottom: -13%;
        left: 0;
        z-index: -1;

        @include breakpoint(max-xl) {
            display: none;
        }
    }

    .hero-content {
        position: relative;

        h1 {
            font-size: 70px;
            color: $white;
            margin-bottom: 40px;

            @include breakpoint(max-lg) {
                font-size: 60px;
            }

            @include breakpoint(max-md) {
                font-size: 50px;
            }

            @include breakpoint(max-sm) {
                font-size: 40px;
            }
        }

        span {
            &::before {
                position: absolute;
                content: "";
                width: 70%;
                height: 1px;
                background: rgba(75, 83, 93, 1);
            }
            
            &::after {
                position: absolute;
                content: "";
                width: 160px;
                height: 1px;
                background: $white;
            }
        }
        p {
            color: $white;
            margin-top: 40px;
            display: inline-block;
            margin-bottom: 70px;

            @include breakpoint(max-lg) {
                margin-bottom: 20px;
            }
        }

        .arrow-image {
            margin-bottom: 30px;

            @include breakpoint(max-lg) {
                margin-bottom: 10px;
            }
        }

        h3 {
            font-size: 35px;
            color: $white;
            margin-bottom: 10px;
        }

        h4 {
            font-size: 26px;
            font-weight: 400;
            color: $white;
            letter-spacing: 9.62px;
        }
    }

    .hero-image {
        position: relative;
        margin-right: -100px;
        margin-top: 65px;

        @include breakpoint(max-lg) {
            margin-right: 0px;
            margin-top: 40px;
        }

        img {
            @include imgw;
        }

        .shape-image {
            position: absolute;
            bottom: 0;
            right: 0;

            @include breakpoint(max-xl) {
                display: none;
            }
        }
    }
}